@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Image */
.img {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  box-shadow: 15px 15px 30px rgba(151, 243, 247, 0.4);
  margin: 0 auto;
  margin-bottom: 20px;
}

.porfile__img {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  transform: rotate(270deg);
}

/* Introduce */
.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.intro__name {
  font-size: 1.7em;
  font-family: "Roboto";
}

.intro__job {
  letter-spacing: 1px;
  font-size: 1em;
  font-family: "Roboto";
  color: #666;
}

/* Button */
.profile__more {
  width: 13em;
  border: none;
  border-radius: 20px;
  font-size: 0.8em;
  font-family: "Roboto";
  color: #fafafa;
  background-color: #39e6f8;
  box-shadow: 10px 10px 10px rgba(151, 243, 247, 0.4);
  margin: 0 auto 20px;
  padding: 10px 30px;
}
